{% load static %}
<html>
  <head>
    <title>Joshua Ra'anan</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'website.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
     {% block  'page_css' %}{% endblock %}
     <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
     {% block 'page_js' %}{% endblock %}
  </head>
  <body>
    <div id="main" class="container-fluid">
      {% include 'header.html' %}
      {% block 'main_content' %}{% endblock %}
    </div>
  </body>
</html>