{% extends 'base.html' %}
{% load static %}
{% load flatblocks %}
{% block 'main_content' %}
  <div>
    <div class="row">
      <div class="col-sm-12 home-name-container">
        <h1>I'd love to hear from you!</h1>
        <h2>Please email me at <a href="mailto:xli@g.harvard.edu">xli@g.harvard.edu</a></h2>
        <h2>Take a look at my <a href="{% flatblock 'footer.linkedin' using=false %}" blank>LinkedIn</a></h2>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>
  <br />
  <br />
{% endblock %}