{% load static %}
{% load flatblocks %}
<footer class="fixed-bottom">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h4 class="footer-centered">
        <a href="mailto:{% flatblock 'footer.email' using=false %}">{% flatblock 'footer.email' %}</a>
      </h4>
    </div>
    <div class="col-sm-12 col-md-4">
      <h4 class="footer-centered">
        <a href="{% get_media_prefix %}{{ cv.document }}" download="MichelleXiyueLiCV">Download my CV</a>
      </h4>
    </div>
    <div class="col-sm-12 col-md-4">
      <h4 class="footer-centered">
        <a href="{% flatblock 'footer.linkedin' using=false %}" blank>Visit my LinkedIn</a>
      </h4>
    </div>
  </div>
</footer>

