{% load static %}
<nav class="navbar navbar-default navbar-fixed-top hidden-sm hidden-xs">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li>
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'about' %}">About</a>
      </li>
      <li>
        <a href="{% url 'teaching' %}">Teaching</a>
      </li>
      <li>
        <a href="{% url 'research' %}">Research</a>
      </li>
      <li>
        <a href="{% get_media_prefix %}{{ resume.document }}" download="MichelleXiyueLiResume">R&eacute;sum&eacute;</a>
      </li>
      <li>
        <a href="{% url 'contact' %}">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg hidden-xl">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a href="{% url 'teaching' %}">Teaching</a>
          </li>
          <li>
            <a href="{% url 'research' %}">Research</a>
          </li>
          <li>
            <a href="{% get_media_prefix %}{{ resume.document }}" download="MichelleXiyueLiResume">R&eacute;sum&eacute;</a>
          </li>
          <li>
            <a href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
