{% extends 'base.html' %}
{% load static %}
{% load flatblocks %}
{% block 'main_content' %}
  <div>
    <div class="row">
      <div class="col-sm-12 home-name-container">
        <h1 class="home-name">Joshua Ra'anan</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="{% static 'images/home-image-1.png' %}" class="img-responsive centered" alt="Happy You're here"/>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="home-intro centered">{% flatblock 'home.intro' %}</h3>
      </div>
    </div>
  </div>
  <br />
  <br />
{% endblock %}