/*@website_blue: #2DB1FF
@website_purple: #9473EC 
*/

:root {
  --website_blue: #2DB1FF;
  --website_purple: #9473EC;
  --website_orange: #E4865F;
  --website_green: #557F65;
  --header-height: 75px;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('fonts/BebasNeue.ttf') format('truetype'),
       url('fonts/BebasNeue.woff') format('woff'),
       url('fonts/BebasNeue.otf') format('opentype');
}

body { 
  padding-top: 65px;
  color: black;
  font-family: BebasNeue, Arial;
}

.home-intro {
  font-family: Arial;
}

.home-name-container {
  display:block;
  padding: 20px;
  text-align:center;
}

.home-name {
  font-size: 50px;
  display:inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.centered {
  display: table;
  margin: 0 auto;
  float: none;
  height: auto;
  width: auto;
}

img.centered {
  padding: 20px;
}

.all-projects .container img {
  width: 100%;
}

.all-projects .container .item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.all-projects .container .item .description {
  font-family: Arial;
}